# Xcode
#

.DS_Store
*.xcuserstate

# Build generated
#

build/
DerivedData/

# Various settings
#
xcuserdata/

# CocoaPods
#

Pods/
Podfile.lock

# Obj-C/Swift specific
#

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Other
# 

*.xccheckout
*.xcscmblueprint
*.log